@page "/yatzy"
@using Yatzy.Models
@using YatziMethods
@using Yatzy.Components
<h3>Yatzy</h3>

<div class="d-flex justify-content-center">
	<button class="btn btn-dark" @onclick="() =>StartGame()">@startOrQuitGame</button>
</div>


@if (Createplayers)
{
	<section>
		<HeroTitle Title="Create Players" />
		<div class="d-flex justify-content-center">
			<div>
				<p class="inputErrorMessageAddPlayer">@inputErrorMessageAddPlayer</p>
				<input @bind="firstName" class="form-control w-100" placeholder="Förnamn" />
				<input @bind="lastName" class="form-control w-100" placeholder="Efternamn" />
				<button type="button" class="btn btn-dark my-3" @onclick="AddPlayer">Add Player</button>
				<button type="button" class="btn btn-dark my-3 text" @onclick="RemovePlayer">Remove Player</button>
				<p>@errorMessageIfWrongPlayer</p>
			</div>
		</div>
	</section>
}
else
{
	<div>
		<h4 class="m-5 text-center">Spelare: @listOfAddedPlayers[indexOfCurrentPlayer].FirstName @listOfAddedPlayers[indexOfCurrentPlayer].LastName</h4>
	</div>
	<section>
		<DiceComponent />
	</section>
	<div class="d-flex justify-content-center">
		<div >
			@if (protokoll.Count > 0)
			{
				<div class="d-flex justify-content-center m-5">
					<button class="btn btn-dark" @onclick="AddToScoreList">Add to Scoreboard</button>
				</div>
				foreach (Protokoll item in protokoll)
				{
					if (item.Check)
					{
						<div class="d-flex justify-content-center">
							<span>@item.Points</span>
							<input @bind=item.Submit type="checkbox" name="val" />
							<label>@item.Choice</label>
						</div>
					}
				}
			}
			<div class="d-flex justify-content-evenly m-3">
				<button class="btn btn-dark" @onclick="ShowScoreboardChoice">Show Scoreboard Choice</button>
			</div>
			<div class="m-5">
				<p>Skriv in vart du vill sätta ett kryss</p>
				<input @bind="XtoScoreBoard" class="form-control w-100" placeholder="Vart vill du sätta ett X?" />
				<button type="button" class="btn btn-dark my-3" @onclick="AddXToScoreboard">Submit</button>

			</div>
		</div>
	</div>
}


<section>
	<HeroTitle Title="Scoreboard" />
	@if (listOfAddedPlayers.Count > 0)
	{
		<div class="container scoreboard-list-container">
			<div class="row">
				<div class="col p-0">
					<p class="scoreboard-list scoreboard-list-players scoreboard-list-background">Players:</p>
					@foreach (var pointName in Player.ScoreBoardPoints)
					{
						if (pointName == "Summa")
						{
							<p class="scoreboard-list scoreboard-list-points scoreboard-list-background">@pointName:</p>
						}
						else if (pointName == "Total summa")
						{
							<p class="scoreboard-list scoreboard-list-points scoreboard-list-background">@pointName:</p>
						}
						else
						{
							<p class="scoreboard-list scoreboard-list-points">@pointName:</p>
						}
					}
				</div>
				@foreach (Player player in listOfAddedPlayers)
				{
					<div class="col p-0">
						<p class="scoreboard-list scoreboard-list-players">@player.FirstName @player.LastName[0]</p>

						@foreach (var score in player.playerScore)
						{
							if (score.Item1 == -1)
							{
								<p class="scoreboard-list scoreboard-list-struken text-center">X</p>
							}
							else
							{
								<p class="scoreboard-list">@score.Item1</p>
							}
						}
					</div>
				}
			</div>
		</div>
	}
	else
	{
		<p>You have to create players before you can see the scoreboard</p>
	}
</section>


@code {
	string inputErrorMessageAddPlayer = "";
	string firstName = "";
	string lastName = "";
	string errorMessageIfWrongPlayer = "";
	string startOrQuitGame = "Start Game";
	string XtoScoreBoard = "";


	List<Protokoll> protokoll = new();
	List<Player> listOfAddedPlayers = new();
	List<int> SavedDiceList = SavedDice.SavedDiceList;
	List<int> listOfNumber = new();


	bool Createplayers = true;


	int indexOfCurrentPlayer = 0;


	public void NextPlayer()
	{
		indexOfCurrentPlayer++;
		if (indexOfCurrentPlayer >= listOfAddedPlayers.Count)
		{
			indexOfCurrentPlayer = 0;
		}
	}

	public void AddXToScoreboard()
	{
		int index = listOfAddedPlayers[indexOfCurrentPlayer].playerScore.IndexOf((0, XtoScoreBoard));
		if (listOfAddedPlayers[indexOfCurrentPlayer].playerScore[index].Item1 == 0)
		{
			listOfAddedPlayers[indexOfCurrentPlayer].playerScore[index] = (-1, XtoScoreBoard);
			ClearNGotoNextPlayer();
			XtoScoreBoard = "";
		}
	}

	public void AddToScoreList()
	{
		foreach (Protokoll item in protokoll)
		{
			if (item.Submit)
			{
				int index = listOfAddedPlayers[indexOfCurrentPlayer].playerScore.IndexOf((0, item.Choice));
				listOfAddedPlayers[indexOfCurrentPlayer].playerScore[index] = (item.Points, item.Choice);

				var currentStateOfTotalSumma = listOfAddedPlayers[indexOfCurrentPlayer].playerScore[17];
				currentStateOfTotalSumma = (currentStateOfTotalSumma.Item1 + item.Points, currentStateOfTotalSumma.Item2);
				listOfAddedPlayers[indexOfCurrentPlayer].playerScore[17] = currentStateOfTotalSumma;

				if (item.Choice == "Ettor" || item.Choice == "Tvåor" || item.Choice == "Treor" || item.Choice == "Fyror" || item.Choice == "Femmor" || item.Choice == "Sexor")
				{
					var currentStateOfSumma = listOfAddedPlayers[indexOfCurrentPlayer].playerScore[7];
					currentStateOfSumma = (currentStateOfSumma.Item1 + item.Points, currentStateOfSumma.Item2);
					listOfAddedPlayers[indexOfCurrentPlayer].playerScore[7] = currentStateOfSumma;
				}
			}
		}
		ClearNGotoNextPlayer();
	}

	public void ClearNGotoNextPlayer()
	{
		protokoll.Clear();
		SavedDiceList.Clear();
		listOfNumber.Clear();
		NextPlayer();
	}

	public void ShowScoreboardChoice()
	{
		var YatzyCalculator = new CalculatingPoints();

		if (SavedDiceList.Count == 5)
		{
			YatzyCalculator.EttTillSex(SavedDiceList, Player.ScoreBoardPoints, listOfAddedPlayers, indexOfCurrentPlayer, protokoll, listOfNumber);
			YatzyCalculator.Par(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll, listOfNumber);
			YatzyCalculator.TvåPar(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll);
			YatzyCalculator.Triss(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll);
			YatzyCalculator.Fyrtal(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll);
			YatzyCalculator.LitenStege(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll, listOfNumber);
			YatzyCalculator.StorStege(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll, listOfNumber);
			YatzyCalculator.Kåk(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll);
			YatzyCalculator.Chans(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll);
			YatzyCalculator.Yatzy(SavedDiceList, listOfAddedPlayers, indexOfCurrentPlayer, protokoll);
		}
	}

	public void AddPlayer()
	{
		if (!string.IsNullOrWhiteSpace(firstName) && !string.IsNullOrWhiteSpace(lastName))
		{
			listOfAddedPlayers.Add(new Player(firstName, lastName));
			firstName = "";
			lastName = "";
			inputErrorMessageAddPlayer = "";
		}
		else
		{
			inputErrorMessageAddPlayer = "Invalid first / last name, try again.";
		}
	}

	public void RemovePlayer()
	{
		var playersCopy = listOfAddedPlayers.ToList();

		foreach (var player in playersCopy)
		{

			if (player.FirstName == firstName && player.LastName == lastName)
			{
				errorMessageIfWrongPlayer = $"Player {player.FirstName} {player.LastName} has been removed from scoreboard";
				listOfAddedPlayers.Remove(player);
			}
			else
			{
				errorMessageIfWrongPlayer = $"Player does not exist";
			}
		}
	}

	public void StartGame()
	{
		if (Createplayers && listOfAddedPlayers.Count > 0)
		{
			Createplayers = false;
			startOrQuitGame = "Quit Game";
		}
		else if (listOfAddedPlayers.Count == 0)
		{
			inputErrorMessageAddPlayer = "You have to create a player before you can start the game";
		}
		else
		{
			Createplayers = true;
			startOrQuitGame = "Start Game";
		}
	}
}
